:root {
  --main-bg-color: #3f3838;
  --main-text-color: #ffdf00;
  --main-font: "Dosis", sans-serif;
}
.dashboard-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  margin: 0 auto;
  border: black solid 1px;
  margin-top: 20px;
}
