.features {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: auto;
  font-family: var(--main-font);
  border: 1px solid var(--main-text-color);
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
.home-link,
.dashboard,
.auctions {
  text-decoration: none;
  color: var(--main-text-color);
}

.home-link {
  grid-column: 2/3;
}

.dashboard {
  grid-column: 3/4;
}

.auctions {
  grid-column: 4/5;
}

/* a:visited {
  text-decoration: none;
}
a {
  color: var(--main-text-color);
} */
