*:visited {
  color: inherit;
}

.header {
  width: 100%;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 120px auto auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-weight: bolder;
  letter-spacing: 3px;
  height: 50px;
}
.header-active {
  color: red;
}
.header-nav {
  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-title-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-title {
  font-size: 120%;
}

.header-login {
  font-family: var(--main-font);
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  border: 1px var(--main-text-color) solid;
  padding: 5px;
  border-radius: 3px;
}

.header-sign-up {
  font-family: var(--main-font);
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  border: 1px var(--main-text-color) solid;
  padding: 5px;
  border-radius: 3px;
}

.header-tracking {
  font-family: var(--main-font);
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  font-size: 120%;
}
.header-about {
  font-family: var(--main-font);
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  font-size: 120%;
}

.header-logout {
  font-family: var(--main-font);
  grid-column: 11/12;
  display: inline-block;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  border: 1px var(--main-text-color) solid;
  padding: 5px;
  border-radius: 3px;
}
.header-logo {
  margin-left: 20px;
  width: 30px;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
}
.header-sign-up:focus {
  outline: 0;
}
.header-login:focus {
  outline: 0;
}

.header-sign-up:hover {
  text-decoration: underline;
}

.header-login:hover {
  text-decoration: underline;
}

.header-dashboard,
.header-auctions,
.header-tracking,
.header-home {
  font-family: var(--main-font);
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
  font-size: 120%;
}
