.tracking-main {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-family: var(--main-font);
  padding: 10px;
}
.tracking-first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tracking-form {
}
.list-to-add {
}
.tracking-item {
  display: flex;
  grid-template-columns: 2fr 1fr 1fr;
}
